
<!-- <script type="text/javascript">
     $(document).ready(function() {
         $('#data-table').DataTable();
     });
     $('#data-table tbody').on('click', 'tr', function () {
         var data = table.row( this ).data();
         alert( 'You clicked on '+data[0]+'\'s row' );
     } );
 </script>-->

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div>
    <a th:href="@{/movie/add-movie}">ADD NEW MOVIE</a><br>
    <a th:href="@{/actor/add-actor}">ADD NEW ACTOR</a><br>
    <a th:href="@{/actor/list}">ACTOR LIST</a><br>
    <a th:href="@{/user-movie/list}">MOVIE LIST</a><br>
    <h1>MOVIE LİST</h1>
    <form th:action="@{/movie/search}" method="get">
        <input type="text" name="search" th:value="${search}"/> <br/>
        <button type="submit">Search</button>
    </form>
    <form th:action="@{/movie/sort-date}" method="get"><br/>
        <button type="submit">Sort By Date</button>
    </form>


    <table>
        <thead>
        <tr>

            <th> MOVIE ID <br> </th>
            <td>MOVIE NAME  <br></td>
            <td>  MOVIE YEAR  <br></td>
            <td>MOVIE TYPE  <br></td>
            <td>MOVIE DESCRIPTION  <br></td>
            <td>MOVIE MEDIA <br> </td>
            <td>MOVIE LANGUAGE  <br></td>
            <td>MOVIE ACTOR<br>  </td>
        </tr>
        </thead>
        <tbody th:each="movie:${movies}">
        <td th:text="${movie.id}"></td>
        <td th:text="${movie.name}"></td>
        <td th:text="${movie.year}" ></td>
        <td th:text="${movie.type}"></td>
        <td th:text="${movie.description}"></td>
        <td th:text="${movie.media}"></td>
        <td th:text="${movie.language}"></td>
        <td>
            <p th:each="actor: ${movie.actors}" th:text="${actor.firstName}"></p>
        </td>

        <div sec:authorize="hasRole('ADMIN')">

            <td>
                <a th:href="@{/movie/edit/{id}(id=${movie.id})}">Edit</a>
            </td>
            <td>
                <a th:href="@{/movie/delete/{id}(id=${movie.id})}">Delete</a>
            </td>
        </div>

        </tbody>
    </table>
</div>

</body>
</html>