<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>new actor</title>
</head>
<body>

<div>
    <h1>NEW ACTOR</h1>
    <br>
    <form action="#" th:action="@{/actor/save}" th:object="${actor}" method="POST">

        <input type="hidden" th:field="*{id}"/> <br/>

        <label>Actor FirstName:</label>
        <input type="text" th:field="*{firstName}" placeholder="firstname"><br>

        <label>Actor LastName:</label>
        <input type="text" th:field="*{lastName}" placeholder="lastname"><br>

        <label>Actor Role:</label>
        <label>
            <select th:field="*{role}" class="form-control">
                <option th:each="p : ${roleList}" th:value="${p}" th:text="${p}"></option>
            </select>
        </label><br>

        <button type="submit">SAVE</button>
    </form>
    <a th:href="@{/actor/list}">back to actor list</a><br>
    <a th:href="@{/movie/list}">go to movie list</a>
</div>

</body>
</html>