
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>

    <link crossorigin="anonymous"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          rel="stylesheet">
</head>
<body>

<div class="container p-3 my-3 bg-primary text-white">

    <form action="#" th:action="@{/movie/save}" th:object="${movie}" method="POST">


        <input type="hidden" th:field="*{id}"/> <br/>

        <label>Movie Name</label>
        <input  class="form-control mb-4 col-4"  type="text" th:field="*{name}" placeholder="Movie Name"><br>

        <label>Movie Year</label>
        <input class="form-control mb-4 col-4" type="text" th:field="*{year}" placeholder="Movie Year"><br>

        <!-- verilerin backendden gelemsi düzeltildi -->
        <div  class="form-group col-md-4">
            <label>Movie Type:</label>
            <label>
                <select class="form-control" name="type">
                    <option th:each="type : ${typeList}"
                            th:text="${type}"
                    >
                </select>
            </label><br>
        </div>

        <label>Movie Description</label>
        <input class="form-control mb-4 col-4" type="text" th:field="*{description}" placeholder="Movie Description"><br>

        <label>Movie Media</label>
        <input class="form-control mb-4 col-4" type="text" th:field="*{media}" placeholder="Movie Media"><br>

        <!-- verilerin backendden gelmesi düzeltildi -->
        <div  class="form-group col-md-4">
            <label>Movie Language:</label>
            <label>
            <select class="form-control"  name="language">
                <option th:each="language : ${languageList}"
                    th:text="${language}"
                >
            </select>
            </label><br>
        </div>

        <div  class="form-group col-md-4">
            <label>Movie Actors:</label>
            <label>
            <select class="form-control" th:field="*{actors}">
                <option th:each="actor:${actors}" th:value="${actor.id}" th:text="${actor.firstName}"></option>
            </select>
            </label><br/>
        </div>

        <button class="btn btn-info" type="submit">SAVE</button>
    </form>
    <a class="btn btn-warning" th:href="@{/movie/list}">back to movie list</a>
    <a class="btn btn-warning" th:href="@{/actor/list}">go to actor list</a>
</div>
</body>
</html>