<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style type="text/css">
        label {
            display: inline-block;
            width: 100px;
            margin: 7px;
            text-align: left;
        }

        button {
            margin: 5px;
            padding: 5px;
        }
    </style>
</head>
<body>

<div>
    <h1>NEW MOVIE</h1>
    <br>
    <form action="#" th:action="@{/movie/save}" th:object="${movie}" method="POST">

        <!--  <input type="hidden" th:field="*{id}"/> <br/>

          <label>Movie Name:</label>
          <label>
              <input type="text" th:field="*{name}" placeholder="name">
          </label><br>

          <label>Movie Type:</label>
          <select name="type">
              <option value="volvo">Volvo</option>
          </select><br>

          <label>Movie Language:</label>
          <select name="language">
              <option value="volvo">Volvo</option>

          </select><br>

          <label>Movie Actors:</label>
          <select th:field="*{actors}">
              <option th:each="actor:${actors}" th:value="${actor.id}" th:text="${actor.firstName}"></option>
          </select> <br/>
  -->
        <button type="submit">SAVE</button>
    </form>
    <a th:href="@{/movie/list}">back to movie list</a><br>
    <a th:href="@{/actor/list}">go to actor list</a>
</div>
</body>
</html>