<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <div class="container">
        <h1 style="border-radius: 0px 0px 30px 30px;" class="text-center text-light bg-dark mb-3 pt-3 pb-3 font-weight-bold">MOVIE COLLECTION</h1>
        <div class="container w-50 bg-light p-5">
            <h2 class="text-center">ADD A MOVIE</h2>
            <div class="form-group text-center">
                <form action="#" th:action="@{/movies/confirm}" th:object="${movieWrapper}" method="POST">
                    Name: <input type="text" class="form-control" name="name" th:field="*{name}"/><br>
                    Release Date: <input type="date" class="form-control"  name="date" th:field="*{date}"/><br>
                    Category: <input type="text" class="form-control"  name="category" th:field="*{category}"/><br>
                    Description: <input type="text" class="form-control"  name="description" th:field="*{description}"/><br>
                    Image URL: <input type="text" class="form-control" name="image" th:field="*{image}"/><br>
                    Rating: <input type="text" class="form-control"  name="rating" th:field="*{rating}"/><br>
                    Cast: <input type="text" class="form-control" name="castRef" th:value="${stars}" th:field="*{castRef}" readonly/><br>
                    <button name="submit" class="btn btn-dark" type="submit" value="0">Submit</button>
                </form>
            </div></div>
</body>
</html>